<a href="https://colab.research.google.com/github/farima-trb/R/blob/main/Freq_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t=read.table("/content/sample_data/Bisc_Weight.txt",header=T)
print(head(t))

  Weight
1  150.8
2  150.2
3  150.5
4  149.8
5  149.2
6  149.8

In [ ]:
print(range(t))

[1] 148.7 150.9

In [ ]:
print(table(t))

t
148.7 148.9   149 149.2 149.4 149.5 149.6 149.7 149.8 149.9   150 150.1 150.2
    1     1     1     1     1     3     2     7     6     3     4     4     3
150.3 150.4 150.5 150.6 150.7 150.8 150.9
    1     3     4     1     1     1     2

In [ ]:
low_val=148.5
high_val=151.0
step_val=0.5
t_breaks=seq(low_val,high_val,step_val)
print(t_breaks)

[1] 148.5 149.0 149.5 150.0 150.5 151.0

In [ ]:
t_cut=cut(t$Weight,t_breaks)

**Shows each value is belonged to which range**

In [ ]:
print(t_cut)

 [1] (150.5,151] (150,150.5] (150,150.5] (149.5,150] (149,149.5] (149.5,150]
 [7] (149.5,150] (149.5,150] (149,149.5] (149.5,150] (150,150.5] (149,149.5]
[13] (150,150.5] (150,150.5] (150.5,151] (150,150.5] (149.5,150] (149.5,150]
[19] (150,150.5] (149,149.5] (150.5,151] (149.5,150] (149.5,150] (150,150.5]
[25] (149.5,150] (149.5,150] (149.5,150] (149.5,150] (150,150.5] (148.5,149]
[31] (148.5,149] (149.5,150] (149.5,150] (150,150.5] (150,150.5] (150.5,151]
[37] (150,150.5] (150.5,151] (150,150.5] (150,150.5] (149.5,150] (149.5,150]
[43] (149.5,150] (149.5,150] (150,150.5] (149.5,150] (148.5,149] (149.5,150]
[49] (149.5,150] (149,149.5]
Levels: (148.5,149] (149,149.5] (149.5,150] (150,150.5] (150.5,151]

**Shows frequency of each range of values**

In [ ]:
print(table(t_cut))

t_cut
(148.5,149] (149,149.5] (149.5,150] (150,150.5] (150.5,151]
          3           5          22          15           5

In [ ]:
freq_table=as.data.frame(table(t_cut))
print(freq_table)

        t_cut Freq
1 (148.5,149]    3
2 (149,149.5]    5
3 (149.5,150]   22
4 (150,150.5]   15
5 (150.5,151]    5

In [ ]:
freq_table$CumF<-round(freq_table$Freq,1)/sum(freq_table$Freq)*100
print(freq_table)

        t_cut Freq CumF
1 (148.5,149]    3    6
2 (149,149.5]    5   10
3 (149.5,150]   22   44
4 (150,150.5]   15   30
5 (150.5,151]    5   10

In [ ]:
freq_table$Cummu_Percentage<-cumsum(freq_table$CumF)
print(freq_table)

        t_cut Freq CumF Cummu_Percentage
1 (148.5,149]    3    6                6
2 (149,149.5]    5   10               16
3 (149.5,150]   22   44               60
4 (150,150.5]   15   30               90
5 (150.5,151]    5   10              100