<a href="https://colab.research.google.com/github/farima-trb/R/blob/main/project(part2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data=read.csv("/content/Atlas_Khodro.csv",header = T)
head(data)

  Time_On_Line Number_Accepting_Insurance Complaints_per_20_Customers
1 20.14        160                        0
2 14.97        174                        1
3  9.72        156                        1
4 14.65        146                        3
5 12.81        146                        2
6 19.90        170                        2
  Wait_Time_for_Bus Gas_To_Fill Time_On_Line_Improved
1 -4.36             65.25       11.160
2 -3.75              9.75       10.203
3 -1.75             32.25       11.127
4 -1.13             14.00       13.068
5 -1.36             12.25       11.004
6 -2.78              7.50       12.936

In [ ]:
#Q18

# improved?
# H0: m1 = m2
# H1: m1 > m2


n=50
m1=mean(data$Time_On_Line)
cat("mu 1 =",m1,"\n")
cat("----------------------------------------\n")
m2=mean(data$Time_On_Line_Improved)
cat("mu 2 =",m2,"\n")
cat("----------------------------------------\n")
t.test(data$Time_On_Line,data$Time_On_Line_Improved,paired = T,alternative = "two.sided",conf.level = 0.95)

round(qt(c(.025, .975), df=49),4)

mu 1 = 14.7788
----------------------------------------
mu 2 = 11.37024
----------------------------------------

	Paired t-test

data:  data$Time_On_Line and data$Time_On_Line_Improved
t = 7.797, df = 49, p-value = 3.91e-10
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 2.530043 4.287077
sample estimates:
mean of the differences
                3.40856

[1] -2.0096  2.0096

In [ ]:
# p-value > 0.05 --> reject H0.  & t = 7.797 > 2.0096

In [ ]:
#Q19

# Changed?
# H0: p1  = p2
# H1: p1 != p2

p1=sum(data$Number_Accepting_Insurance[1:30])/(250*30)
p2=0.67

In [ ]:
prop.test(x = c(p1*7500,p2*250), n = c(7500,250), alternative = "two.sided", conf.level = 0.95)

	2-sample test for equality of proportions with continuity correction

data:  c(p1 * 7500, p2 * 250) out of c(7500, 250)
X-squared = 3.2828, df = 1, p-value = 0.07001
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.12018868  0.00258868
sample estimates:
prop 1 prop 2
0.6112 0.6700

In [ ]:
# p_value > 0.05 --> accept H0